* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #e7d5bb
}

.container {
    background-color: #cebea8;
    position: absolute;
    min-height: 400px;
    min-width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.2);
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    
}

.elemento {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.elemento_lanche {
    font-size: 10px;
    width: 100%;
    height: 100%;
    padding-top: 20px;

}

.descricao_lanche {
    width: 100%;
    font-size: 12px;
    box-sizing: border-box;
    padding-left: 2px;

}

.botao {
    margin: 5px;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(240, 240, 203);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.botao:hover {
    background-color: #afa08b;
    border-radius: 5px 0 5px 0;
    border: 1px solid rgb(105, 124, 105);
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-decoration: none;
    text-shadow: none;
}

.botao_lanche {
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);

}

.rodape {
    font-size: 12px;
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 5px;
}

.titulo_lanche, .preco {
    float: left;
    padding-left: 5px;
    padding-top: 10px;
    position: relative;
}
.preco {
    font-size: 12px;
    font-weight: bold;
    padding-right: 8px;
}

.lanche_inline {
    display: flex;
    justify-content: space-between;
}
